
.container{
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 5px 10px;
    margin-top: 100px;
}

.title span{
    color: blue;
    font-size: 1.3em;
    margin-top: -10px;
}

.content{
    width: 50%;
    margin: auto;
    margin-top: 40px;
}

.content div {
    margin: 40px auto;
    width: 50%; 
}

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .success {
    border-color: #4CAF50;
    color: green;
  }

  .success:hover {
    background-color: #4CAF50;
    color: white;
    transition: 0.7s;
  }

  @media screen and (max-width: 599px)
{
    .container{
        width: 100%;
        padding: 5px 10px;
        margin-top: 100px;
        background-color: white;
    }
    
    .title span{
        color: blue;
        font-size: 1.1em;
        margin-top: -10px;
    }
    
    .content{
        width: 100%;
        margin: auto;
        margin-top: 40px;
    }
    
    .content div {
        margin: 40px auto;
        width: 50%; 
    }
    
}