.container_liste_c{
    width: 50%;
    margin: auto;
    background-color: white;
}

.header{
    width: 100%;
    margin: auto;
}

.header_content {
    overflow: hidden;
    position: relative;
    background-color: #4CAF50;
  }
  
  .header_content div {
    padding: 12px 16px;
    font-size: 1.1em;
    font-weight: bold;
    display: block;
    color: white;
  }
  
  .header_content .retour {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 20px;
    font-size: 1.1em;
    cursor: pointer;
    background-color: black;
    color: white;
  }

  .content_search{
    width: 50%;
    margin: 40px auto;
  }

  .content_all{
    width: 90%;
    margin: 40px auto;
  }

  input{
    padding: 12px 14px;
    width: 100%;
  }

  .content_all table {
    width: 100%;
    border-top: 1px solid #ddd;
  }
  
  .content_all td {
    text-align: left;
    padding: 16px;
    text-align: center;
  }
  
  .content_all tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .content_all td a{
      text-decoration: none;
  }

  .footer{
    width: 20%;
    margin: 40px auto
  }